<footer class="bg-dark py-5  w-100" style="position: relative; top: 720px;">
            <!-- border-start -->
           
                <div>
                    <label>
                      <select #langSelect id="language" (change)="translate.use(langSelect.value)" (change)=" changeDir(langSelect.value)">
                        <option  *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>                        
                      </select>
                    </label>
                  </div>
          

</footer>