<div class="spinnerCustomStyle " *ngIf="!isLoaded">
    <mat-spinner></mat-spinner>
</div>

<div class="container-fluid my-5 py-5" *ngIf="isLoaded">
    <h2 class="cH2 text-center my-3"> {{'Patient' | translate}} : {{patientName}}</h2>
    <div class="row">
        <div *ngFor="let doctor of doctors" class="col-md-6">
            <div class="content shadow rounded-3 p-3 m-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{'Doctor' | translate}} : {{doctor.doctor.name}}</h2>
                    <h2>{{'specification' | translate}} : {{doctor.doctor.specification}}</h2>
                </div>
                <h2>{{'date' | translate}} : {{doctor.date | date:"yyyy/MM/dd"}}</h2>
                <div class="text-center">
                    <h2 *ngIf="doctor.doctorInstructions">{{'doctorInstructions' | translate}} :
                    </h2>
                    <h3 > {{doctor.doctorInstructions}}</h3>
                </div>
                
            </div>
        </div>
    </div>
</div>