<div class="spinnerCustomStyle " *ngIf="!checkLoader">
    <mat-spinner></mat-spinner>
</div>

<div class="container-fluid mt-5" *ngIf="checkLoader">

    <div class="row my-3 mx-1">
        <div class="col-xl-6  ">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img [src]="doctorInfo.imageUrl" class="img-fluid rounded-start" alt="doctorImage">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-primary">
                            <h1 class="card-title"><i class="fa-solid fa-user"></i> {{doctorInfo.name}}</h1>
                            <h1 class="card-title"><i class="fa-solid fa-phone"></i> {{doctorInfo.mobilePhone}}</h1>
                            <h5 class="card-text d-inline"><i class="fa-solid fa-circle-dot mx-1"></i>{{doctorInfo.specification}}</h5>
                            <h5 class="card-text d-inline mx-5"><i class="fa-solid fa-circle-dot mx-1"></i>{{doctorInfo.role}}</h5>
                            <h5 *ngIf="doctorRating" class="card-text d-inline mx-3"><i class="fa-solid fa-circle-dot mx-1"></i><i class="bi bi-star-fill  text-warning me-1" *ngFor="let star of doctorRating"></i></h5>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-xl-6 ">
                <div class="shadow ">
                    <h3 class="text-light bg-primary p-1">Total Reservations</h3>
                    <ngx-charts-linear-gauge [view]="view" [scheme]="colorScheme" [value]="reservations" [previousValue]="maxReservations" (select)="onSelect($event)" [units]="units">
                    </ngx-charts-linear-gauge>
                </div>
            </div>
            <div class="col-xl-6 cm " *ngIf="timeSlots.length">
                <div class="shadow ">

                    <h3 class="text-light bg-primary p-1 ">Reservations</h3>

                    <ngx-charts-bar-vertical-2d [view]="view " [scheme]="colorScheme " [results]="timeSlots " [gradient]="gradient " [xAxis]="xAxis " [yAxis]="yAxis " [legend]="showLegend " [showXAxisLabel]="showXAxisLabel " [showYAxisLabel]="showYAxisLabel
                    " [xAxisLabel]="xAxisLabel " yAxisLabel="Reservations " [legendTitle]="legendTitle " (select)="onSelect($event) " (activate)="onActivate($event) " (deactivate)="onDeactivate($event) ">
                    </ngx-charts-bar-vertical-2d>
                </div>
            </div>
            <div class="col-xl-6 cmm " *ngIf="patientGenders.length">
                <div class="shadow ">
                    <h3 class="text-light bg-primary p-1 ">Avg Visits by Gender</h3>
                    <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="patientGenders" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)" (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-pie-chart>
                </div>
            </div>

            <div class="col-xl-6 cmm" *ngIf="doctorIncomes.length">
                <div class="shadow">
                    <h3 class="text-light bg-primary p-1"> Incomes</h3>
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="doctorIncomes" [gradient]=" gradient " [xAxis]="xAxis " [yAxis]="yAxis " [legend]="showLegend " [showXAxisLabel]="showXAxisLabel " [showYAxisLabel]="showYAxisLabel " [xAxisLabel]="xAxisLabel "
                        [yAxisLabel]="yAxisLabel " (select)="onSelect($event) ">
                    </ngx-charts-bar-vertical>
                </div>
            </div>

        </div>

    </div>